Extracting daily stock and ETF historical data from IEX. This program replaces get_data_iex.ipynb and pulls data for free from the IEX Cloud web site. Unlike the old API, this requires that the user have an account at IEX Cloud and has used the IEX Cloud dashboard to set a private and public key (token) using SSH technology. The public key must be provided in the query, as shown below.

Note: You must have an account with IEX Cloud to use this, BUT, you do not need to be logged in to that account when downloading data.

The data to be imported are in JSON format and can be imported into a pandas dataframe.

In [2]:
import pandas as pd

IEX Cloud uses a restful API which consists of 4 parts:

1 - The base URL 'https://cloud.iexapis.com/
2 - The word "/stable/" or "/beta/" (use stable for default)
3 - The code for historical data, including symbol and duration, stock/aapl/chart/1y (or 2y,5y etc).
4 - The question mark followed by your token, ?token="your public key"'

This approach reads the contents of a JSON file into a pandas dataframe using pd.read_json

In [4]:
sym = "TSLA"  # This is not case-sensitive
token = "pk_341b086cdd8d4f8e8df96303f905ee6f"
df_temp = pd.read_json('https://cloud.iexapis.com/stable/stock/'+sym+'/chart/1y?token='+token+'')

In [7]:
df_temp

,date,open,close,high,low,volume,uOpen,uClose,uHigh,uLow,uVolume,change,changePercent,label,changeOverTime
0,2019-06-25,224.39,219.76,225.34,219.49,6182071,224.39,219.76,225.34,219.49,6182071,0.00,0.0000,"Jun 25, 19",0.000000
1,2019-06-26,220.31,219.27,227.23,218.10,8507208,220.31,219.27,227.23,218.10,8507208,-0.49,-0.2230,"Jun 26, 19",-0.002230
2,2019-06-27,219.45,222.84,222.90,217.35,6339710,219.45,222.84,222.90,217.35,6339710,3.57,1.6281,"Jun 27, 19",0.014015
3,2019-06-28,220.99,223.46,225.17,220.80,6851384,220.99,223.46,225.17,220.80,6851384,0.62,0.2782,"Jun 28, 19",0.016837
4,2019-07-01,230.21,227.17,233.10,226.28,8237964,230.21,227.17,233.10,226.28,8237964,3.71,1.6603,"Jul 1, 19",0.033719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,2020-06-19,1012.78,1000.90,1015.97,991.34,8679749,1012.78,1000.90,1015.97,991.34,8679749,-3.06,-0.3048,"Jun 19, 20",3.554514
250,2020-06-22,999.95,994.32,1008.88,990.02,6362350,999.95,994.32,1008.88,990.02,6362350,-6.58,-0.6574,"Jun 22, 20",3.524572
251,2020-06-23,998.88,1001.78,1012.00,994.01,6365271,998.88,1001.78,1012.00,994.01,6365271,7.46,0.7503,"Jun 23, 20",3.558518
252,2020-06-24,994.11,960.85,1000.88,953.14,10959593,994.11,960.85,1000.88,953.14,10959593,-40.93,-4.0857,"Jun 24, 20",3.372270
253,2020-06-25,954.27,985.98,985.98,937.15,9254549,954.27,985.98,985.98,937.15,9254549,25.13,2.5500,"Jun 25, 20",0.000000